In [3]:
import numpy as np
import pandas as pd
import os

In [4]:
files = []
for file in os.listdir('data'):
    if file.endswith('.csv'):
        files.append(os.path.join('data', file))

In [5]:
data = []

for filename in files:
    
    
    with open(filename, 'r') as file:
        ticker = filename.split('_')[-1][:-4]
        line = file.readline()
        line = file.readline()
        while(line):
            ts =line.split(';"')[0][1:].split(';')[0]
            tweet = line.split(';"')[1].split('";')[0]
            line=file.readline()
            data.append([ticker,ts,tweet])
        
    
df = pd.DataFrame(data, columns=['ticker','timestamp','tweet'])
#df

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155011 entries, 0 to 155010
Data columns (total 3 columns):
ticker       155011 non-null object
timestamp    155011 non-null object
tweet        155011 non-null object
dtypes: object(3)
memory usage: 3.5+ MB

In [10]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [30]:
analyzer = SentimentIntensityAnalyzer()
for tweet in df['tweet']:
    vs = analyzer.polarity_scores(tweet)
    vs_val = list(vs.values())
    df['neg'] = vs_val[0]
    df['neu'] = vs_val[1]
    df['pos'] = vs_val[2]
    df['compound'] = vs_val[3]

In [31]:
df.head()

,ticker,timestamp,tweet,neg,neu,pos,compound
0,INTC,2019-03-21 23:29,$ AAPL $ TRV $ MSFT $ HD $ DWDP $ INTC $ NKE $...,0.046,0.954,0.0,-0.3034
1,INTC,2019-03-21 23:25,$ INTC Intel - Q3 2019 Intel Corporation Earni...,0.046,0.954,0.0,-0.3034
2,INTC,2019-03-21 23:25,$ INTC # Intel # Intelligence # ImplementingCl...,0.046,0.954,0.0,-0.3034
3,INTC,2019-03-21 23:25,$ INTC Intel - Q2 2019 Intel Corporation Earni...,0.046,0.954,0.0,-0.3034
4,INTC,2019-03-21 23:24,$ INTC Intel - Q1 2019 Intel Corporation Earni...,0.046,0.954,0.0,-0.3034

In [37]:
df['timestamp'] = pd.to_datetime(df['timestamp'], infer_datetime_format=True)

In [47]:
df['day_name'] = df['timestamp'].map(lambda x: x.day_name())
df['day'] = df['timestamp'].map(lambda x: x.day)
df['day_of_week'] = df['timestamp'].map(lambda x: x.dayofweek)

In [53]:
df.to_csv('tweets_with_sentiment.csv')

In [11]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
tickers = list(set(df['ticker']))

In [12]:
start_date = '2019-03-01'
end_date = '2019-03-26'

panel_data = data.DataReader(tickers, 'yahoo', start_date, end_date)

/home/s_hamdani/anaconda3/lib/python3.6/site-packages/pandas_datareader/base.py:230: SymbolWarning: Failed to read symbol: 'BRK', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

In [14]:
type(panel_data)

pandas.core.frame.DataFrame

In [17]:
agg_sp50 = pd.read_excel('S&PTop50 Aggregate Data.xls')

In [18]:
agg_sp50.head()

  Effective date   S&P 500 Top 50 TR  S&P 500 Top 50 NTR  S&P 500 Top 50
0      2019-03-01            3053.12             2771.73         2211.81
1      2019-03-04            3048.79             2767.80         2208.68
2      2019-03-05            3050.96             2769.77         2210.25
3      2019-03-06            3036.45             2756.60         2199.74
4      2019-03-07            3010.50             2733.04         2180.94